--
-- PostgreSQL database dump
--

\restrict m7w3ml7A36hL6SIjVqNDmejlZvEjzW6YsBBq2IxLpgJX4zDe8QqI3Vp7Jz6gWF5

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: email_processing_status; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.email_processing_status (tipo_operacao, last_email_subject, last_email_from, last_email_received, last_processed_at) FROM stdin;
\.


--
-- Data for Name: passengers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.passengers (id, name, cpf, created_at) FROM stdin;
\.


--
-- Data for Name: flight_passengers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.flight_passengers (id, flight_id, flight_table, passenger_id, created_at) FROM stdin;
\.


--
-- Data for Name: flights_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.flights_history (id, flight_id, tipo_detectado, data, dia_semana, hora, aeronave, destino, passageiros, ordem_dia, archived_at) FROM stdin;
\.


--
-- Data for Name: helicoptero_flights; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.helicoptero_flights (id, flight_id, data, hora, aeronave, destino, passageiros, piloto1, piloto2, ordem_dia, created_at, active, dia_semana, last_seen_email, updated_at) FROM stdin;
\.


--
-- Data for Name: helicoptero_flights_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.helicoptero_flights_history (id, flight_id, data, dia_semana, hora, aeronave, destino, passageiros, ordem_dia, removido_em) FROM stdin;
\.


--
-- Data for Name: jato_flights; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.jato_flights (id, flight_id, data, hora, aeronave, destino, passageiros, piloto1, piloto2, ordem_dia, created_at, active, dia_semana, last_seen_email, updated_at) FROM stdin;
\.


--
-- Data for Name: jato_flights_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.jato_flights_history (id, flight_id, data, dia_semana, hora, aeronave, destino, passageiros, ordem_dia, removido_em) FROM stdin;
\.


--
-- Data for Name: mono_flights; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.mono_flights (id, flight_id, data, hora, aeronave, destino, passageiros, piloto1, piloto2, ordem_dia, created_at, active, dia_semana, last_seen_email, updated_at) FROM stdin;
\.


--
-- Data for Name: mono_flights_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.mono_flights_history (id, flight_id, data, dia_semana, hora, aeronave, destino, passageiros, ordem_dia, removido_em) FROM stdin;
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.profiles (id, role, created_at) FROM stdin;
\.


--
-- PostgreSQL database dump complete
--

\unrestrict m7w3ml7A36hL6SIjVqNDmejlZvEjzW6YsBBq2IxLpgJX4zDe8QqI3Vp7Jz6gWF5

